@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fff;
}

body {
    background: url(./images/bg-desktop.svg), hsl(257, 40%, 49%);
    padding: 0 50px;
}

.container {
    display: flex;
    padding: 20px 0 0 0;
    justify-content: space-between;
}


.section-one {
    img {
        width: 100%;
    }
}


.section-two  {
    padding: 0 50px;
    max-width: 600px;
    margin-top: 50px;
    h2 {
        font-family: Poppins;
        font-size: 30px;
        color: var(--primary-color);
        max-width: 400px;
    }

    p {
        font-family: 'Open Sans';
        font-size: 15px;
        padding: 20px 0 30px 0;
        color: var(--primary-color);
    }

    a {
        background-color: var(--primary-color);
        color:hsl(300, 69%, 71%);
        padding: 12px 50px;
        border-radius: 30px;
        font-family: 'Open Sans';
        font-weight: 400;
        text-decoration: none;
    
        &:hover {
            background-color: hsl(300, 69%, 71%);
            color: #fff;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;

    .social {
        align-self: flex-end;
        a {
            text-decoration: none;
            margin-right: 10px;
        }
        .fab {
            background: transparent;
            color: var(--primary-color);
            border: 2px solid var(--primary-color);
            padding: 10px;
            border-radius: 50%;
    
            &:hover {
                color: hsl(300, 69%, 71%);
                border-color: hsl(300, 69%, 71%);
            }
        }
    }
    
}



@media only screen and (max-width: 940px){
    header{
        .logo-img {
            width: 40%;
            padding-top: 30px;
        }
    }

    body {
        background: url(./images/bg-mobile.svg), hsl(257, 40%, 49%);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-two {
        text-align: center;
        margin-bottom: 30px;
       h2 {
           font-size: 18px;
           font-weight: 900;
           max-width: 600px;
       }
       
       
    }

    footer {
        margin-top: 20px;
        .social {
            align-self: center;
            padding: 20px 0;
        }
    }
}